fastapi
pyinstaller
setuptools
uvicorn
python-multipart
redis
fastapi-plugins
pymongo
rq
requests
pydantic
python-jose[cryptography]
passlib[bcrypt]
Pillow
imagehash
aiofiles
Sphinx
sphinx_rtd_theme
glob2
pytest
pytest-timeout